name: Dependency review for pull requests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  dependency-submission:
    runs-on: ubuntu-24.04-arm

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v4

  dependency-review:
    runs-on: ubuntu-24.04-arm
    needs: dependency-submission
    if: github.event_name == 'pull_request'
    steps:
    - name: Perform dependency review
      uses: actions/dependency-review-action@v4
      with:
        allow-licenses: Apache-2.0
